.root{
    -fx-background-color: #EAEAEA;
    -fx-alignment: CENTER;
}

#left{
    -fx-padding: 100 100 100 100;
    -fx-min-width: 400;
    -fx-alignment: TOP_CENTER;
    -fx-spacing: 20;
}

#zoekscherm{
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-border-color: black;
    -fx-border-radius: 15;
    -fx-border-width: 3;
    -fx-min-width: 350;
}

#labels{
    -fx-padding: 15 15 15 15;
}

#naamLeerling{
    -fx-padding: 5 5 5 5;
    -fx-spacing: 85;
}

#inschrijvingLeerling{
    -fx-padding: 5 5 5 5;
    -fx-spacing: 10;
}

#textField{ 
    -fx-background-color: #EAEAEA;
    -fx-border-color: black;
    -fx-border-radius: 2;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
#buttons{
    -fx-padding: 15 15 15 15;
    -fx-alignment: CENTER;
    -fx-spacing: 20;
}

.button{
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-padding: 7 7 7 7;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-alignment: CENTER;
    -fx-pref-width: 100;
}

#right {
    -fx-padding: 100 50 100 100;
    -fx-min-width: 500;
}

#lijstLeerlingen {
    -fx-background-radius: 5;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-border-width: 3;
    -fx-max-height: 300;
}

.list-cell{ 
    -fx-cell-size: 50;     
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 0 0 3 0;
}

.list-cell:selected{ 
    -fx-background-color: #C4003E;
}

#buttonsRight{
    -fx-padding: 15 0 15 0;
    -fx-alignment: CENTER;
    -fx-spacing: 80;
    -fx-max-width: 400;
}

#btnVerwijder{
    -fx-pref-width: 210;
}

#btnSync{
    -fx-pref-width: 210;
}

#btnAllesVerwijderen{
    -fx-max-width: 400;
}
#schermNieuweLeerling{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-border-width: 3;
    -fx-background-radius: 15;
    -fx-padding: 10 10 10 10;
    -fx-spacing: 5;
}
#autoImg{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0 ,0, 0);
    -fx-alignment: CENTER
}

#listViewTitle{
    -fx-background-color: #4B4B4B;
    -fx-background-radius: 5;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-border-width: 3;
    -fx-max-width: 400;
    -fx-min-height: 40;
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

#leerlingImageView{
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-border-radius: 5;
}

#lblNaamLeerling{
    -fx-background-color: #A4A4A4;
    -fx-background-radius: 5;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-alignment: CENTER;
    -fx-padding: 5;
    -fx-pref-width: 150;
}

#dashboardRight{
    -fx-spacing: 2;
    -fx-padding: 10 10 10 10;
    -fx-alignment: TOP_CENTER;
}

#hBox_outterImage{
    -fx-border-color: black;
    -fx-border-width: 8;
    -fx-border-radius: 3;
    -fx-pref-width: 150;
}
#evaluatieMoment{
    -fx-padding: 10 0 10 0;
    -fx-alignment: CENTER;
}
#momenten{
    -fx-alignment: CENTER;
    -fx-spacing: 15;
    -fx-padding: 10 0 10 0;
}
#evaTitel{
    -fx-alignment: CENTER;
    -fx-pref-width: 100;
}
#momentKnop{
   -fx-background-color: #EAEAEA;
   -fx-pref-width: 40;
}

#evaluatiegrafiek{
    -fx-padding: 20 5 0 5;
    -fx-spacing: 2.5;
    -fx-rotate: 180;
}

#btnGrafiek{
    -fx-background-color: #EAEAEA;
    -fx-border-style: none;
    -fx-border-color: #EAEAEA;
    -fx-border-radius: 0 0 0 0;
    -fx-pref-width: 64;
    -fx-pref-height: 64;
}

#evaluatiegrafiekOuter{
    -fx-alignment: CENTER;
    -fx-spacing: 15;
}

#grafiekMetLbl{
    -fx-alignment: TOP_CENTER;
}
#OpmerkingVeld{
    -fx-pref-height: 100;
    -fx-pref-width: 150;
}
#OpmerkingLabel{
    -fx-padding: 5;
}

#menuButton{
    -fx-border-width: 5;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}
#menuBox{
    -fx-spacing: 20;
    -fx-background-color: darkgrey;
    -fx-padding: 10;
}
#menuKnoppen{
    -fx-spacing: 20;
    -fx-alignment: CENTER;
}



